<md-sidenav-container>
  <md-sidenav mode="side" opened="showSideNav" class="mat-elevation-z6">
    <md-toolbar color="primary">
      <button md-icon-button (click)="showSideNav = !showSideNav">
          <md-icon>menu</md-icon>
        </button>
      <span *ngIf="showSideNav" class="logo title">LOGO</span>
    </md-toolbar>
    <md-nav-list>
      <md-list-item>
        <a md-line *ngIf="showSideNav" routerLink="/page1">Page 1</a>
        <a md-icon-button routerLink="/page1">
          <md-icon>explore</md-icon>
        </a>
      </md-list-item>
      <md-list-item>
        <a md-line *ngIf="showSideNav" routerLink="/page2">Page 2</a>
        <a md-icon-button routerLink="/page2">
          <md-icon>extension</md-icon>
        </a>
      </md-list-item>
      <md-list-item>
        <a md-line *ngIf="showSideNav" routerLink="/page3">Page 3</a>
        <a md-icon-button routerLink="/page3">
          <md-icon>feedback</md-icon>
        </a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
  <div class="my-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>